body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #003366;
    color: white;
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* PAGINE */
section {
    padding: 40px;
    background: white;
    margin: 30px auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* HERO HOME */
.hero {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    background: white;
}

.hero-text {
    width: 45%;
    font-size: 22px;
}

.hero-text h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #003366;
}

.hero-img img {
    width: 550px;
    border-radius: 10px;
}

/* TABELLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, td, th {
    border: 1px solid #444;
}

th {
    background: #003366;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    text-align: center;
}
